
@{
    ViewBag.Title = ViewBag.TituloRelatorio;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}
<h2>Afiliados Cadastrados</h2>

@if (ViewBag.Lista != null)
{
<table style="width:100%; border-color:#ffffff; border-width: 2px; padding:3px; background-color:#e2e2e2">
    @foreach (var item in ViewBag.Lista)
    {
        <tr>
            <td style="background-color:#868686; color:#ffffff"><strong>Informações Gerais</strong></td>
        </tr>
        <tr>
            <td><strong>Nome:</strong> @item.Nome</td>
        </tr>
        <tr>
            <td>
                <strong>CPF:</strong> @item.CPF
                <strong>RG:</strong> @item.RG
                <strong>Dt. Nasc.:</strong> @item.DataNascimento
            </td>
        </tr>
        <tr>
            <td>
                <strong>Cargo:</strong> @item.Cargo
            </td>
        </tr>
        <tr>
            <td>
                <strong>Empresa:</strong> @item.Empresa
                <strong>CNPJ:</strong> @item.CNPJ
            </td>
        </tr>
        <tr>
            <td>
                <strong>Opção de Pagamento:</strong> @item.PagamentoTx
            </td>
        </tr>
        <tr>
            <td>
                <strong>Opção de Contribuição:</strong> @item.ContribuicaoTx
            </td>
        </tr>
    }
</table>
}
else
{
    <br />
    <br />
    <div style="color:#ff0000; font-weight:bold">Nenhum registro encontrado</div>
}
<br />
<br />
@if (@ViewBag.Enderecos != null)
{
    <table style="width:100%; background-color:#e2e2e2;">
        <tr>
            <td style="background-color:#868686; color:#ffffff"><strong>Dependentes</strong></td>
        </tr>
        <tr>
            <td>
                <strong>Logradouro:</strong> @ViewBag.Enderecos.Logradouro
            </td>
        </tr>
        <tr>
            <td>
                <strong>Número:</strong> @ViewBag.Enderecos.Numero
                <strong>Complemento:</strong> @ViewBag.Enderecos.Complemento
            </td>
        </tr>
        <tr>
            <td>
                <strong>Bairro:</strong> @ViewBag.Enderecos.Bairro
            </td>
        </tr>
        <tr>
            <td>
                <strong>Cidade:</strong> @ViewBag.Enderecos.Cidade
                <strong>UF:</strong> @ViewBag.Enderecos.UF
            </td>
        </tr>
        <tr>
            <td>
                <strong>CEP:</strong> @ViewBag.Enderecos.CEP
            </td>
        </tr>
    </table>
}
<br />
<br />
<table style="width:100%; background-color:#e2e2e2;">
    <tr>
        <td colspan="3" style="background-color:#868686; color:#ffffff"><strong>Dependentes</strong></td>
    </tr>
    <tr style="background-color: #000000; color:#ffffff; text-align:center">
        <td style="text-align:left">Nome</td>
        <td style="text-align:left">Grau</td>
        <td style="text-align:center">Acrescimo</tdstyle="text-align:center">
    </tr>
    @foreach (var itemDep in ViewBag.Dependentes)
    {
        <tr>
            <td>
            <td>@itemDep.Nome</td>
            <td>@itemDep.GrauParentescoNome</td>
            <td style="text-align:center">
                @if (itemDep.AcrescimoMensal == 1)
                {
                    <span>SIM</span>
                }
                else
                {
                    <span>NÃO</span>
                }
            </td>
        </tr>
    }
    @if (ViewBag.Dependentes.Count == 0)
    {
        <tr>
            <td style="color:#ff0000"><strong>Nenhum dependente cadastrado</strong></td>
        </tr>
    }
</table>