@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FICHA DE FILIAÇÃO</h2>
<body>
  <form action="Create" id="formAfilia" onsubmit="return validarFormAfilia();">
       <table >
            <tr>
                <td class="TDcampoLabel">ASSOCIADO:</td>
                <td class="TDcampoTexto">
                <input type="text" id="Nome" name="Nome" placeholder="nome completo" value="@ViewBag.Afiliado.Nome" /></td>
            </tr>
             <tr>
                <td>E-MAIL:</td>
                <td>
                    <input type="text" id="Email" name="Email" placeholder="e-mail" value="@ViewBag.Afiliado.Email" />
                    <div style="color:#FF0000" id="rEmail"></div>
                </td>
            </tr>
            <tr>
                <td>DATA DE NASCIMENTO:</td>
                <td><input type="text" id="DtNasc" name="DtNasc" placeholder="dd/mm/aaaa" /></td>
            </tr>
            <tr>
                <td>RG:</td>
                <td><input type="text" id="Rg" name="Rg" placeholder="Somente número" value="@ViewBag.Afiliado.RG" /></td>
            </tr>
            <tr>
                <td>CPF:</td>
                <td>
                    <input type="text" id="Cpf" name="Cpf" placeholder="Somente número" value="@ViewBag.Afiliado.CPF" />
                    <div style="color:#FF0000" id="rCpf"></div>
                </td>
            </tr>
            <tr>
                <td>PIS:</td>
                <td>
                    <input type="text" id="Pis" name="Pis" placeholder="" value="@ViewBag.Afiliado.PIS" />
                    <div style="color:#FF0000" id="rPis"></div>
                </td>
            </tr>
            <tr>
                <td>CTPS:</td>
                <td>
                    <input type="text" id="CtpsNum" name="CtpsNum" placeholder="" value="@ViewBag.Afiliado.CTPS_Numero" />
                    <div style="color:#FF0000" id="rCtpsNum"></div>
                </td>
            </tr>
            <tr>
                <td>Serie:</td>
                <td>
                    <input type="text" id="CtpsSerie" name="CtpsSerie" placeholder="" value="@ViewBag.Afiliado.CTPS_Serie" />
                </td>
            </tr>
            <tr>
                <td>Cargo:</td>
                <td><input type="text" id="Cargo" name="Cargo" placeholder="" value="@ViewBag.Afiliado.Nome" /></td>
            </tr>
            <tr>
                <td>Empresa:</td>
                <td><input type="text" id="Empresa" name="Empresa" placeholder="" /></td>
            </tr>
            <tr>
                <td>CNPJ:</td>
                <td>
                    <input type="text" id="Cnpj" name="Cnpj" placeholder="" />
                    <div style="color:#FF0000" id="rCnpj"></div>
                </td>
            </tr>
            <tr>
                <td>CONSIR:</td>
                <td><input type="text" id="Consir" name="Consir" placeholder="" /></td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>
                    DDD <select id="TelCelDDD" name="TelCelDDD">
                    @foreach (var item in ViewBag.DDDLista) 
                    {
                        <option value="@item">@item</option>
                    }
                    </select>
                    <!--DDD <input type="text" id="TelCelDDD" name="TelCelDDD" style="width:30px" placeholder="99" />-->
                    No. <input type="text" id="TelCelNum" name="TelCelNum" style="width:90px;" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" placeholder="99999-9999" />
                </td>
            </tr>
            <tr>
                <td>Telefone Residencial:</td>
                <td>
                    DDD <select id="TelResDDD" name="TelResDDD">
                    @foreach (var item in ViewBag.DDDLista) 
                    {
                        <option value="@item">@item</option>
                    }
                    </select>
                    <!-- DDD <input type="text" id="TelResDDD" name="TelResDDD" style="width:30px" placeholder="99" />-->
                    No. <input type="text" id="TelResNum" name="TelResNum" style="width:90px;"  placeholder="opcional" />
                </td>
            </tr>
            <tr>
                <td>CEP:</td>
                <td>
                    <input type="text" id="CEP" name="CEP" placeholder="Somente números" />
                    <div style="color:#FF0000" id="rCEP">@ViewBag.MensagemCEPRetorno</div>
                </td>
            </tr>
            <tr>
                <td>Rua:</td>
                <td><input type="text" id="Rua" name="Rua" placeholder="ex: Rua / Avenida / Estrada / Travessa, etc." /></td>
            </tr>
            <tr>
                <td>Número:</td>
                <td><input type="text" id="Numero" name="Numero" placeholder="Somente números" /></td>
            </tr>
            <tr>
                <td>Complemento:</td>
                <td><input type="text" id="Complemento" name="Complemento" /></td>
            </tr>
            <tr>
                <td>Bairro:</td>
                <td><input type="text" id="Bairro" name="Bairro" /></td>
            </tr>
            <tr>
                <td>Cidade:</td>
                <td><input type="text" id="Cidade" name="Cidade" /></td>
            </tr>
            <tr>
                <td>UF:</td>
                <td>
                    <input type="text" id="UF" name="UF" maxlength="2" style="width: 30px" placeholder="XX" />
                    <div style="color:#FF0000" id="rUF"></div>
                    <!--<select id="UD" name="UF">
                    @foreach (var item in ViewBag.UFLista) 
                    {
                        <option value="@item.UF">@item.UF</option>
                    }
                    </select>-->
                </td>
            </tr>
            <tr>
                <td>Nome Pai:</td>
                <td><input type="text" id="NomePai" name="NomePai" placeholder="Opcional" /></td>
            </tr>
            <tr>
                <td>Nome Mãe:</td>
                <td><input type="text" id="NomeMae" name="NomeMae" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a target="_blank" href="~/Download/docs/Ficha_Filiacao_AcordoJAN2018.pdf">Ler Termos e Condições</a>
                </td>
            </tr>
             <tr>
                <td></td>
                <td>
                    <input type="submit" id="btnGravar" />
                    <br/><br/>
                    <span id="rForm" style="color:#FF0000">@Html.Raw(ViewBag.MensagemRetorno)</span>
                </td>
            </tr>
        </table>
</form> 
<!--
    <p id="rData"></p>
    <input type="submit" id="btnExibir" value="Exibir Data Hora" />
-->
</body>
<script type="text/javascript">
function validarFormAfilia() {

    var formData = $("#formAfilia" );

    $.ajax({
        type: "POST",
        data: formData,
        url: "/Afiliacao/ValidarFormJSON",
        dataType: 'json',
        contentType: false,
        processData: false,               
        success: function (response) {
            //alert(response.msg);
            $("rForm").html(response.msg);
            return true;                         
        },
        error: function (response) {
            alert("Ocorreu um erro durante o processo, tente novamente!");  // 
        }

    });
}
</script>
<script type="text/javascript" src="~/Scripts/form-afilia.js"></script>
